USE [master]
GO
/****** Object:  Database [SemsBrana]    Script Date: 1/27/2016 11:03:52 AM ******/
CREATE DATABASE [SemsBrana]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SemsBrana', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SemsBrana.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'SemsBrana_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\SemsBrana_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SemsBrana].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SemsBrana]
GO
/****** Object:  User [SemsBranaUser]    Script Date: 1/27/2016 11:03:53 AM ******/
CREATE USER [SemsBranaUser] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [SemsBranaUser]
GO
/****** Object:  StoredProcedure [dbo].[userlog]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[userlog]
	-- Add the parameters for the stored procedure here
	@email varchar(50), @password varchar(50), @idUser int
AS
BEGIN
	insert into Logins(mail,password,idUser)values(@email,@password,@idUser)
END


GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Bouteilles]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Bouteilles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[caisse] [varchar](100) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[type] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Bouteilles] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BouteilleSansCaisses]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BouteilleSansCaisses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
 CONSTRAINT [PK_BouteilleSansCaisses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Caisses]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Caisses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[capacite] [int] NOT NULL,
	[qte] [int] NOT NULL,
 CONSTRAINT [PK_Caisses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CaisseVides]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CaisseVides](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[capacite] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
 CONSTRAINT [PK_CaisseVides] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Casse]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Casse](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[id_depot] [int] NOT NULL,
	[qtite_casse] [int] NOT NULL,
	[motif] [text] NOT NULL,
	[id_superviseur] [int] NOT NULL,
	[date_casse] [datetime] NOT NULL,
	[type] [varchar](50) NOT NULL,
	[qtite_bout] [int] NOT NULL,
	[qtite_shortfill] [int] NOT NULL,
	[qtite_perte] [int] NOT NULL,
	[qtite_prod_man] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Casses]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Casses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[typeBout] [varchar](50) NOT NULL,
	[qteBout] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[dateCasse] [date] NOT NULL,
 CONSTRAINT [PK_Casses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Categorie]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Categorie](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[type_fabrication] [varchar](50) NULL,
 CONSTRAINT [PK_Categorie] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Chauffeurs]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Chauffeurs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[prenom] [varchar](50) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[mail] [varchar](50) NULL,
	[phone] [varchar](50) NOT NULL,
	[photo] [varchar](50) NULL,
	[adresse] [varchar](50) NOT NULL,
	[aide1] [varchar](100) NULL,
	[aide2] [varchar](100) NULL,
	[noPermis] [varchar](50) NOT NULL,
	[dateEmission] [date] NOT NULL,
	[dateExpire] [date] NOT NULL,
 CONSTRAINT [PK_Chauffeurs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DebarquementAutres]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DebarquementAutres](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[noPlaque] [varchar](15) NOT NULL,
	[chauffeur] [varchar](100) NOT NULL,
	[client] [varchar](100) NULL,
	[provenance] [varchar](50) NULL,
	[noDeb] [varchar](10) NOT NULL,
	[dateDeb] [date] NOT NULL,
	[hreDebut] [datetime] NOT NULL,
	[hreFin] [datetime] NOT NULL,
	[stubby] [int] NOT NULL,
	[rstub] [int] NOT NULL,
	[gold] [int] NOT NULL,
	[rgold] [int] NOT NULL,
	[big] [int] NOT NULL,
	[rbig] [int] NOT NULL,
	[kingcola] [int] NOT NULL,
	[rcola] [int] NOT NULL,
	[sevenup] [int] NOT NULL,
	[r7up] [int] NOT NULL,
	[pepsi] [int] NOT NULL,
	[rpepsi] [int] NOT NULL,
	[redCratesHD] [int] NOT NULL,
	[redCratesFD] [int] NOT NULL,
	[yellowCratesFD] [int] NOT NULL,
	[qtePalette] [int] NOT NULL,
 CONSTRAINT [PK_DebarquementAutres] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[DebarquementPleins]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DebarquementPleins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[noDeb] [varchar](50) NOT NULL,
	[noloading] [varchar](50) NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[prestige] [int] NOT NULL,
	[guinness] [int] NOT NULL,
	[malta] [int] NOT NULL,
	[kinanm341ml] [int] NOT NULL,
	[big] [int] NOT NULL,
	[kinanm500ml] [int] NOT NULL,
	[king] [int] NOT NULL,
	[sevenup] [int] NOT NULL,
	[pepsi] [int] NOT NULL,
 CONSTRAINT [PK_DebarquementPleins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Debarquements]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Debarquements](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[noDeb] [varchar](20) NOT NULL,
	[noSp] [varchar](20) NOT NULL,
	[dateDeb] [date] NOT NULL,
	[hreDebut] [datetime] NOT NULL,
	[hreFin] [datetime] NOT NULL,
	[idChauffeur] [int] NOT NULL,
	[idVehicule] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[stubby] [int] NOT NULL,
	[rstub] [int] NOT NULL,
	[gold] [int] NOT NULL,
	[rgold] [int] NOT NULL,
	[big] [int] NOT NULL,
	[rbig] [int] NOT NULL,
	[kingcola] [int] NOT NULL,
	[rcola] [int] NOT NULL,
	[sevenup] [int] NOT NULL,
	[r7up] [int] NOT NULL,
	[pepsi] [int] NOT NULL,
	[rpepsi] [int] NOT NULL,
	[redCratesHD] [int] NOT NULL,
	[redCratesFD] [int] NOT NULL,
	[yellowCratesFD] [int] NOT NULL,
	[qtePalette] [int] NOT NULL,
	[shift] [varchar](50) NULL,
 CONSTRAINT [PK_Debarquements] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Debut_inventaire]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Debut_inventaire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[qtite_bouteille] [int] NOT NULL,
	[date_debut_inventaire] [datetime] NOT NULL,
	[id_produit] [int] NOT NULL,
	[qtite_trouvee] [int] NOT NULL,
	[id_superviseur] [int] NOT NULL,
	[id_depot_fg] [int] NOT NULL,
	[caisse_theor] [int] NOT NULL,
	[bout_theor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Depot_FG]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Depot_FG](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[adresse] [varchar](100) NOT NULL,
	[dateCreation] [datetime] NOT NULL,
 CONSTRAINT [PK_Depot_FG] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Depot_Produit]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Depot_Produit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_depot] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
	[qtite_produit_dispo] [int] NOT NULL,
	[qtite_bouteille] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DepotEmballages]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[DepotEmballages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[noDeb] [varchar](50) NOT NULL,
	[noloading] [varchar](50) NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[prestige] [int] NOT NULL,
	[guinness] [int] NOT NULL,
	[malta] [int] NOT NULL,
	[kinanm341ml] [int] NOT NULL,
	[big] [int] NOT NULL,
	[kinanm500ml] [int] NOT NULL,
	[king] [int] NOT NULL,
	[sevenup] [int] NOT NULL,
	[pepsi] [int] NOT NULL,
	[statut] [varchar](100) NOT NULL,
	[dateDepot] [date] NOT NULL,
	[datelivraison] [date] NULL,
 CONSTRAINT [PK_DepotEmballages] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Depots]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Depots](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](100) NOT NULL,
	[adresse] [varchar](100) NOT NULL,
	[dateCreation] [datetime] NOT NULL,
	[typeDepot] [varchar](50) NULL,
 CONSTRAINT [PK_Depots] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Emballage]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Emballage](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[volume] [decimal](10, 4) NOT NULL,
	[qte_par_caisse] [int] NOT NULL,
	[id_utilisateur] [int] NOT NULL,
	[date_emb] [datetime] NOT NULL,
 CONSTRAINT [PK_Emballage] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EntreeProductions]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EntreeProductions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[typeCaisse] [varchar](100) NOT NULL,
	[qteCaisses] [int] NOT NULL,
	[codeReq] [varchar](50) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[comment] [text] NOT NULL,
	[dateEntree] [date] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_EntreeProductions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Fin_Inventaire]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fin_Inventaire](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_superviseur] [int] NOT NULL,
	[date_fin_inventaire] [datetime] NOT NULL,
	[id_produit] [int] NOT NULL,
	[qtite_laissee] [int] NOT NULL,
	[id_depot_fg] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[InjectionsBout]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InjectionsBout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[iduser] [int] NOT NULL,
	[typeBout] [varchar](50) NOT NULL,
	[qteBout] [int] NOT NULL,
	[truckID] [varchar](50) NOT NULL,
	[po] [varchar](50) NOT NULL,
	[provenance] [varchar](100) NOT NULL,
	[grr] [varchar](50) NOT NULL,
	[comment] [text] NOT NULL,
	[dateInjection] [date] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[depot] [varchar](100) NOT NULL,
 CONSTRAINT [PK_InjectionsBout] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[InjectionsCaisse]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[InjectionsCaisse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUser] [int] NOT NULL,
	[typeCaisse] [varchar](100) NOT NULL,
	[qteCaisse] [int] NOT NULL,
	[qtePalette] [int] NOT NULL,
	[truckID] [varchar](50) NOT NULL,
	[po] [varchar](50) NOT NULL,
	[provenance] [varchar](100) NOT NULL,
	[grr] [varchar](50) NOT NULL,
	[dateInjection] [date] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[comment] [text] NOT NULL,
	[depot] [varchar](50) NOT NULL,
	[capacite] [int] NOT NULL,
 CONSTRAINT [PK_InjectionsCaisse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[laboratoire_echantillon]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[laboratoire_echantillon](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[nom_recepteur] [varchar](100) NOT NULL,
	[qtite_donnee] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
	[id_superviseur] [int] NOT NULL,
	[qtite_retour] [int] NULL,
	[id_depot] [int] NOT NULL,
	[date_donnee] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ligne_depot]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ligne_depot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_ligne_production] [int] NOT NULL,
	[id_depot] [int] NOT NULL,
	[qtite_caisse] [int] NOT NULL,
	[date_ligne_depot] [datetime] NOT NULL,
	[id_superviseur] [int] NOT NULL,
	[id_data_clock] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ligne_production]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Ligne_production](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[id_utilisateur] [int] NOT NULL,
	[date_ligne_prod] [datetime] NOT NULL,
 CONSTRAINT [PK_Ligne_production] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ligne_Produit]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ligne_Produit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[id_ligne_production] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loading]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loading](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[date_loading] [date] NOT NULL,
	[heure_debut] [datetime] NOT NULL,
	[heure_fin] [datetime] NOT NULL,
	[id_chauffeur] [int] NOT NULL,
	[id_depot] [int] NOT NULL,
	[client] [varchar](50) NULL,
	[id_vehicule] [int] NOT NULL,
	[numero_sp] [varchar](20) NOT NULL,
	[numero_emb] [varchar](20) NOT NULL,
	[nbre_palette] [int] NULL,
	[type_emb] [varchar](20) NOT NULL,
	[retour] [int] NULL,
	[id_superviseur] [int] NOT NULL,
	[id_data_clock] [int] NOT NULL,
	[remarque] [text] NULL,
	[destination] [varchar](50) NULL,
 CONSTRAINT [PK_Loading] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Loading_prodiut]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loading_prodiut](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[qte_caisse_delivre] [int] NOT NULL,
	[qte_caisse_retourne] [int] NULL,
	[qte_bout_retourne] [int] NULL,
	[id_loading] [int] NOT NULL,
 CONSTRAINT [PK_Loading_prodiut] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Loading_produit]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Loading_produit](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_produit] [int] NOT NULL,
	[qte_caisse_delivre] [int] NOT NULL,
	[qte_caisse_retourne] [int] NULL,
	[qte_bout_retourne] [int] NULL,
	[id_loading] [varchar](20) NOT NULL,
	[qte_bouteille_delivre] [int] NOT NULL,
 CONSTRAINT [PK_Loading_produit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Logins](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MiseEnCaisses]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MiseEnCaisses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[caisse] [varchar](100) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[qte] [int] NOT NULL,
	[comment] [text] NOT NULL,
	[dateMEC] [date] NOT NULL,
 CONSTRAINT [PK_MiseEnCaisses] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Palettes]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Palettes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
 CONSTRAINT [PK_Palettes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produit_Bloque]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produit_Bloque](
	[Id] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
	[raison] [varchar](255) NOT NULL,
	[id_depot] [int] NOT NULL,
	[qtite_caisse_donnee] [int] NOT NULL,
	[qtite_caisse_retour] [int] NULL,
	[etat] [int] NOT NULL,
	[date_donnee] [datetime] NOT NULL,
	[date_retour] [datetime] NULL,
	[qtite_bout_donnee] [int] NOT NULL,
	[qtite_bout_retour] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Produits]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Produits](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[id_emballage] [int] NOT NULL,
	[id_categorie] [int] NOT NULL,
	[id_utilisateur] [int] NOT NULL,
	[date_prod] [date] NOT NULL,
	[type_fabrication] [varchar](50) NULL,
	[type_bout] [varchar](50) NULL,
 CONSTRAINT [PK_Produit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RecyclagesBout]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RecyclagesBout](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depot] [varchar](50) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[qteBout] [int] NOT NULL,
	[dateRecycling] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RecyclagesBout] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RecyclagesCaisse]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RecyclagesCaisse](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[typeCaisse] [varchar](100) NOT NULL,
	[qteCaisse] [int] NOT NULL,
	[qtePalette] [int] NOT NULL,
	[idUser] [int] NOT NULL,
	[dateRecycling] [date] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RecyclagesCaisse] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ReportFormats]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ReportFormats](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](50) NOT NULL,
	[stockDebutSystem] [varchar](50) NOT NULL,
	[StockDebutreel] [varchar](50) NOT NULL,
	[Reception] [varchar](50) NOT NULL,
	[Transfert] [varchar](50) NOT NULL,
	[EntreeProduction] [varchar](50) NOT NULL,
	[RetourProduction] [varchar](50) NOT NULL,
	[RetourVente] [varchar](50) NOT NULL,
	[Recyclage] [varchar](50) NOT NULL,
	[Casse] [varchar](50) NOT NULL,
	[sortiePalette] [varchar](50) NOT NULL,
	[retourPalette] [varchar](50) NOT NULL,
	[StockFinSystem] [varchar](50) NOT NULL,
	[StockFinreel] [varchar](50) NOT NULL,
	[difference] [varchar](50) NOT NULL,
	[Perte] [varchar](50) NOT NULL,
	[Shift] [varchar](50) NOT NULL,
	[DateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[depot] [varchar](50) NOT NULL,
 CONSTRAINT [PK_ReportFormats] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Reports]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Reports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[description] [varchar](100) NOT NULL,
	[stockDebutSystem] [int] NOT NULL,
	[StockDebutreel] [int] NOT NULL,
	[Reception] [int] NOT NULL,
	[Transfert] [int] NOT NULL,
	[EntreeProduction] [int] NOT NULL,
	[RetourProduction] [int] NOT NULL,
	[RetourVente] [int] NOT NULL,
	[Recyclage] [int] NOT NULL,
	[Casse] [int] NOT NULL,
	[sortiePalette] [int] NOT NULL,
	[retourPalette] [int] NOT NULL,
	[StockFinSystem] [int] NOT NULL,
	[StockFinreel] [int] NOT NULL,
	[difference] [int] NOT NULL,
	[Perte] [int] NOT NULL,
	[Shift] [varchar](50) NOT NULL,
	[DateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[RetourProductions]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[RetourProductions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NULL,
	[qte] [int] NOT NULL,
	[typeCaisse] [varchar](100) NULL,
	[qteCaisses] [int] NOT NULL,
	[codeReq] [varchar](50) NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[comment] [text] NOT NULL,
	[dateRetour] [date] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_RetourProductions] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockDebuEmptyCrates]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockDebuEmptyCrates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_StockDebuEmptyCrates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockDebutPalettes]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockDebutPalettes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockDebutreels]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockDebutreels](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[InCrates] [int] NOT NULL,
	[NotInCrates] [int] NOT NULL,
	[resteInCrates] [int] NOT NULL,
	[ResteNotInCrates] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[dateLog] [date] NOT NULL,
 CONSTRAINT [PK_StockDebutreels] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockFinEmptyCrates]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockFinEmptyCrates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockFinPalettes]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockFinPalettes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[StockFinreels]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StockFinreels](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[InCrates] [int] NOT NULL,
	[NotInCrates] [int] NOT NULL,
	[resteInCrates] [int] NOT NULL,
	[ResteNotInCrates] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[DateLog] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tampons]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tampons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeBout] [varchar](100) NOT NULL,
	[InCrates] [int] NOT NULL,
	[NotIncrates] [int] NOT NULL,
	[resteInCrates] [int] NOT NULL,
	[ResteNotInCrates] [int] NOT NULL,
	[typeCaisseEmpty] [varchar](100) NULL,
	[qteCaisseEmpty] [int] NOT NULL,
	[qtePalette] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[dateLog] [date] NOT NULL,
 CONSTRAINT [PK_Tampons] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TamponsEmptyCrates]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TamponsEmptyCrates](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[type] [varchar](100) NOT NULL,
	[qte] [int] NOT NULL,
	[capacite] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TamponsEmptyCrates] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TamponsPals]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TamponsPals](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[qte] [int] NOT NULL,
	[depot] [varchar](100) NOT NULL,
	[dateLog] [date] NOT NULL,
	[idUser] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
 CONSTRAINT [PK_TamponsPals] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transfers]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transfers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[provenance] [varchar](100) NOT NULL,
	[destination] [varchar](100) NOT NULL,
	[typeBout] [varchar](100) NULL,
	[qteBout] [int] NOT NULL,
	[caisse] [varchar](100) NOT NULL,
	[qteCaisse] [int] NOT NULL,
	[palette] [int] NOT NULL,
	[dateTrans] [date] NOT NULL,
	[dateVal] [date] NOT NULL,
	[codeTR] [varchar](50) NOT NULL,
	[idSender] [int] NOT NULL,
	[depot] [varchar](50) NOT NULL,
	[shift] [varchar](50) NOT NULL,
	[idReceiver] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transfert_dep]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transfert_dep](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_depot_source] [int] NOT NULL,
	[id_depot_dest] [int] NOT NULL,
	[quantite_palette] [int] NULL,
	[id_chauffeur] [int] NULL,
	[id_vehicule] [int] NULL,
	[id_superviseur] [int] NOT NULL,
	[id_data_clock] [int] NOT NULL,
	[date_transfert] [datetime] NOT NULL,
	[process] [int] NULL,
	[num_transfert] [varchar](50) NOT NULL,
	[id_superviseur_recu] [int] NOT NULL,
 CONSTRAINT [PK_Transfert_dep] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Transfert_Produit]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transfert_Produit](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_transfert] [int] NOT NULL,
	[qtite_caisse] [int] NOT NULL,
	[qtite_bout] [int] NOT NULL,
	[id_produit] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Transits]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Transits](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[provenance] [varchar](100) NOT NULL,
	[destination] [varchar](100) NOT NULL,
	[typeBout] [varchar](100) NULL,
	[qteBout] [int] NOT NULL,
	[caisse] [varchar](100) NOT NULL,
	[qteCaisse] [int] NOT NULL,
	[palette] [int] NOT NULL,
	[dateTrans] [date] NOT NULL,
	[codeTR] [varchar](50) NOT NULL,
	[perC] [int] NOT NULL,
	[etat] [varchar](150) NOT NULL,
	[idSender] [int] NOT NULL,
	[shift] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Unloading]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unloading](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[id_loading] [int] NOT NULL,
	[qtite_palette_retr] [int] NOT NULL,
	[time_unloading_debut] [datetime] NOT NULL,
	[time_unloading_fin] [datetime] NOT NULL,
	[remarque] [text] NULL,
	[qtite_casse] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Utilisateurs]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Utilisateurs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nom] [varchar](50) NOT NULL,
	[prenom] [varchar](50) NOT NULL,
	[mail] [varchar](50) NOT NULL,
	[phone] [varchar](50) NOT NULL,
	[adresse] [varchar](50) NOT NULL,
	[fonction] [varchar](50) NOT NULL,
	[shift] [varchar](50) NULL,
	[depot] [varchar](50) NULL,
 CONSTRAINT [PK_Utilisateurs] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Vehicules]    Script Date: 1/27/2016 11:03:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Vehicules](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[plaque] [varchar](50) NOT NULL,
	[model] [varchar](50) NULL,
	[marque] [varchar](50) NULL,
	[annee] [int] NULL,
	[capacite] [int] NOT NULL,
	[numero] [varchar](50) NOT NULL,
 CONSTRAINT [PK_Vehicules] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Casse] ON 

INSERT [dbo].[Casse] ([Id], [id_produit], [id_depot], [qtite_casse], [motif], [id_superviseur], [date_casse], [type], [qtite_bout], [qtite_shortfill], [qtite_perte], [qtite_prod_man]) VALUES (1027, 1, 1, 0, N'en etat d''ivress', 1, CAST(0x0000A59300F255E4 AS DateTime), N'Perte', 12, 0, 12, 0)
INSERT [dbo].[Casse] ([Id], [id_produit], [id_depot], [qtite_casse], [motif], [id_superviseur], [date_casse], [type], [qtite_bout], [qtite_shortfill], [qtite_perte], [qtite_prod_man]) VALUES (1028, 3, 1, 0, N'en etat d''ivress', 1, CAST(0x0000A59300F255E4 AS DateTime), N'Perte', 2, 0, 89, 0)
INSERT [dbo].[Casse] ([Id], [id_produit], [id_depot], [qtite_casse], [motif], [id_superviseur], [date_casse], [type], [qtite_bout], [qtite_shortfill], [qtite_perte], [qtite_prod_man]) VALUES (1029, 1, 1, 0, N'manque de controle', 1, CAST(0x0000A59300F28BCC AS DateTime), N'Perte', 3, 0, 23, 0)
SET IDENTITY_INSERT [dbo].[Casse] OFF
SET IDENTITY_INSERT [dbo].[Categorie] ON 

INSERT [dbo].[Categorie] ([id], [nom], [type_fabrication]) VALUES (1, N'Prestige', NULL)
INSERT [dbo].[Categorie] ([id], [nom], [type_fabrication]) VALUES (2, N'Kinanm', NULL)
INSERT [dbo].[Categorie] ([id], [nom], [type_fabrication]) VALUES (3, N'Guiness', NULL)
SET IDENTITY_INSERT [dbo].[Categorie] OFF
SET IDENTITY_INSERT [dbo].[Chauffeurs] ON 

INSERT [dbo].[Chauffeurs] ([id], [prenom], [nom], [mail], [phone], [photo], [adresse], [aide1], [aide2], [noPermis], [dateEmission], [dateExpire]) VALUES (1, N'Morantus ', N'Hensso', N'jean@toto.com', N'46895875', NULL, N'nazon', NULL, NULL, N'KK-72991-TB', CAST(0xD53A0B00 AS Date), CAST(0x92410B00 AS Date))
INSERT [dbo].[Chauffeurs] ([id], [prenom], [nom], [mail], [phone], [photo], [adresse], [aide1], [aide2], [noPermis], [dateEmission], [dateExpire]) VALUES (2, N'Bertholin ', N'Joly', N'katalaya@gmail.com', N'47625258', NULL, N'cite soleil', N'kiko', N'ti mamoun', N'KK-72891-TB', CAST(0x473A0B00 AS Date), CAST(0x943C0B00 AS Date))
SET IDENTITY_INSERT [dbo].[Chauffeurs] OFF
SET IDENTITY_INSERT [dbo].[Debut_inventaire] ON 

INSERT [dbo].[Debut_inventaire] ([Id], [qtite_bouteille], [date_debut_inventaire], [id_produit], [qtite_trouvee], [id_superviseur], [id_depot_fg], [caisse_theor], [bout_theor]) VALUES (1, 1, CAST(0x0000A59300000000 AS DateTime), 1, 270, 2, 1, 0, 0)
INSERT [dbo].[Debut_inventaire] ([Id], [qtite_bouteille], [date_debut_inventaire], [id_produit], [qtite_trouvee], [id_superviseur], [id_depot_fg], [caisse_theor], [bout_theor]) VALUES (1024, 1003, CAST(0x0000A59300000000 AS DateTime), 4, 1112, 1002, 4, 0, 0)
INSERT [dbo].[Debut_inventaire] ([Id], [qtite_bouteille], [date_debut_inventaire], [id_produit], [qtite_trouvee], [id_superviseur], [id_depot_fg], [caisse_theor], [bout_theor]) VALUES (1026, 1, CAST(0x0000A5930116C604 AS DateTime), 8, 67, 1004, 3, 0, 0)
SET IDENTITY_INSERT [dbo].[Debut_inventaire] OFF
SET IDENTITY_INSERT [dbo].[Depot_FG] ON 

INSERT [dbo].[Depot_FG] ([id], [nom], [adresse], [dateCreation]) VALUES (1, N'depot1', N'route de l''aeroport', CAST(0x0000A56C00000000 AS DateTime))
SET IDENTITY_INSERT [dbo].[Depot_FG] OFF
SET IDENTITY_INSERT [dbo].[Depot_Produit] ON 

INSERT [dbo].[Depot_Produit] ([Id], [id_depot], [id_produit], [qtite_produit_dispo], [qtite_bouteille]) VALUES (11, 1, 1, 35, 10)
INSERT [dbo].[Depot_Produit] ([Id], [id_depot], [id_produit], [qtite_produit_dispo], [qtite_bouteille]) VALUES (12, 1, 2, 10, 0)
INSERT [dbo].[Depot_Produit] ([Id], [id_depot], [id_produit], [qtite_produit_dispo], [qtite_bouteille]) VALUES (13, 1, 3, 46, 20)
GO
SET IDENTITY_INSERT [dbo].[Depot_Produit] OFF
SET IDENTITY_INSERT [dbo].[Depots] ON 

INSERT [dbo].[Depots] ([id], [nom], [adresse], [dateCreation], [typeDepot]) VALUES (1, N'Depot1', N'Tabarre 42', CAST(0x0000A57700000000 AS DateTime), N'FinishGood')
INSERT [dbo].[Depots] ([id], [nom], [adresse], [dateCreation], [typeDepot]) VALUES (2, N'Depot2', N'rue lamarre', CAST(0x0000A56C00000000 AS DateTime), N'FinishGood')
INSERT [dbo].[Depots] ([id], [nom], [adresse], [dateCreation], [typeDepot]) VALUES (3, N'Depot3', N'Trois mains', CAST(0x0000A58A00A952B6 AS DateTime), N'FinishGood')
SET IDENTITY_INSERT [dbo].[Depots] OFF
SET IDENTITY_INSERT [dbo].[Emballage] ON 

INSERT [dbo].[Emballage] ([id], [nom], [volume], [qte_par_caisse], [id_utilisateur], [date_emb]) VALUES (21, N'PET 330', CAST(330.0000 AS Decimal(10, 4)), 24, 1003, CAST(0x0000A56C00C5C100 AS DateTime))
INSERT [dbo].[Emballage] ([id], [nom], [volume], [qte_par_caisse], [id_utilisateur], [date_emb]) VALUES (22, N'PET 250', CAST(250.0000 AS Decimal(10, 4)), 24, 1003, CAST(0x0000A58700912E13 AS DateTime))
INSERT [dbo].[Emballage] ([id], [nom], [volume], [qte_par_caisse], [id_utilisateur], [date_emb]) VALUES (23, N'PET 591', CAST(591.0000 AS Decimal(10, 4)), 24, 1003, CAST(0x0000A58700913E32 AS DateTime))
SET IDENTITY_INSERT [dbo].[Emballage] OFF
SET IDENTITY_INSERT [dbo].[Fin_Inventaire] ON 

INSERT [dbo].[Fin_Inventaire] ([Id], [id_superviseur], [date_fin_inventaire], [id_produit], [qtite_laissee], [id_depot_fg]) VALUES (2, 1002, CAST(0x0000A59600A9F02B AS DateTime), 1, 12, 1)
SET IDENTITY_INSERT [dbo].[Fin_Inventaire] OFF
SET IDENTITY_INSERT [dbo].[laboratoire_echantillon] ON 

INSERT [dbo].[laboratoire_echantillon] ([Id], [nom_recepteur], [qtite_donnee], [id_produit], [id_superviseur], [qtite_retour], [id_depot], [date_donnee]) VALUES (2, N'lka', 120, 1, 1, 120, 1, CAST(0x0000A6DA00C5C100 AS DateTime))
INSERT [dbo].[laboratoire_echantillon] ([Id], [nom_recepteur], [qtite_donnee], [id_produit], [id_superviseur], [qtite_retour], [id_depot], [date_donnee]) VALUES (3, N'lolo', 103, 2, 1, 101, 1, CAST(0x00009E4A00C5C100 AS DateTime))
INSERT [dbo].[laboratoire_echantillon] ([Id], [nom_recepteur], [qtite_donnee], [id_produit], [id_superviseur], [qtite_retour], [id_depot], [date_donnee]) VALUES (4, N'kiko', 123, 1, 2, 124, 1, CAST(0x00009E4A00C5C100 AS DateTime))
SET IDENTITY_INSERT [dbo].[laboratoire_echantillon] OFF
SET IDENTITY_INSERT [dbo].[Ligne_depot] ON 

INSERT [dbo].[Ligne_depot] ([Id], [id_ligne_production], [id_depot], [qtite_caisse], [date_ligne_depot], [id_superviseur], [id_data_clock], [id_produit]) VALUES (5, 1, 1, 0, CAST(0x0000A6DA009450C0 AS DateTime), 1, 1003, 1)
INSERT [dbo].[Ligne_depot] ([Id], [id_ligne_production], [id_depot], [qtite_caisse], [date_ligne_depot], [id_superviseur], [id_data_clock], [id_produit]) VALUES (6, 3, 3, 1000, CAST(0x0000A6B1009450C0 AS DateTime), 2, 1003, 3)
INSERT [dbo].[Ligne_depot] ([Id], [id_ligne_production], [id_depot], [qtite_caisse], [date_ligne_depot], [id_superviseur], [id_data_clock], [id_produit]) VALUES (7, 1, 1, 23, CAST(0x0000A6DA009450C0 AS DateTime), 1, 1003, 1)
SET IDENTITY_INSERT [dbo].[Ligne_depot] OFF
SET IDENTITY_INSERT [dbo].[Ligne_production] ON 

INSERT [dbo].[Ligne_production] ([id], [nom], [id_utilisateur], [date_ligne_prod]) VALUES (1, N'L1', 1003, CAST(0x0000A56C00000000 AS DateTime))
INSERT [dbo].[Ligne_production] ([id], [nom], [id_utilisateur], [date_ligne_prod]) VALUES (2, N'L2', 1003, CAST(0x0000A58100000000 AS DateTime))
INSERT [dbo].[Ligne_production] ([id], [nom], [id_utilisateur], [date_ligne_prod]) VALUES (3, N'L3', 1003, CAST(0x0000A5830098280C AS DateTime))
SET IDENTITY_INSERT [dbo].[Ligne_production] OFF
SET IDENTITY_INSERT [dbo].[Loading] ON 

INSERT [dbo].[Loading] ([id], [date_loading], [heure_debut], [heure_fin], [id_chauffeur], [id_depot], [client], [id_vehicule], [numero_sp], [numero_emb], [nbre_palette], [type_emb], [retour], [id_superviseur], [id_data_clock], [remarque], [destination]) VALUES (1057, CAST(0xEE3A0B00 AS Date), CAST(0x0000A593009450C0 AS DateTime), CAST(0x0000A5930099CF00 AS DateTime), 1, 4, N'Chez Jean', 1, N'SP00243083', N'087662', 3, N'Regulier', 0, 2, 1003, N'Aucun', N'Gonaive')
INSERT [dbo].[Loading] ([id], [date_loading], [heure_debut], [heure_fin], [id_chauffeur], [id_depot], [client], [id_vehicule], [numero_sp], [numero_emb], [nbre_palette], [type_emb], [retour], [id_superviseur], [id_data_clock], [remarque], [destination]) VALUES (1061, CAST(0xF33A0B00 AS Date), CAST(0x0000A42B009450C0 AS DateTime), CAST(0x0000A42B00970FE0 AS DateTime), 2, 1, N'St baptisme depot', 1, N'sp43244534', N'345764', 8, N'Exclusif', 0, 1002, 1003, N'Tout est ok', N'Saint-Marc')
INSERT [dbo].[Loading] ([id], [date_loading], [heure_debut], [heure_fin], [id_chauffeur], [id_depot], [client], [id_vehicule], [numero_sp], [numero_emb], [nbre_palette], [type_emb], [retour], [id_superviseur], [id_data_clock], [remarque], [destination]) VALUES (1062, CAST(0xF43A0B00 AS Date), CAST(0x0000A56C009450C0 AS DateTime), CAST(0x0000A56C0099CF00 AS DateTime), 1, 2, N'lfof', 1, N'sp85285285', N'123582', 12, N'Exclusif', 0, 1, 1003, N'kifkfi', N'lolo')
SET IDENTITY_INSERT [dbo].[Loading] OFF
SET IDENTITY_INSERT [dbo].[Loading_produit] ON 

INSERT [dbo].[Loading_produit] ([id], [id_produit], [qte_caisse_delivre], [qte_caisse_retourne], [qte_bout_retourne], [id_loading], [qte_bouteille_delivre]) VALUES (22, 1, 200, 124, 10, N'087662', 30)
INSERT [dbo].[Loading_produit] ([id], [id_produit], [qte_caisse_delivre], [qte_caisse_retourne], [qte_bout_retourne], [id_loading], [qte_bouteille_delivre]) VALUES (31, 1, 123, 6, 14, N'087662', 2)
INSERT [dbo].[Loading_produit] ([id], [id_produit], [qte_caisse_delivre], [qte_caisse_retourne], [qte_bout_retourne], [id_loading], [qte_bouteille_delivre]) VALUES (38, 7, 66, 66, 12, N'087663', 12)
SET IDENTITY_INSERT [dbo].[Loading_produit] OFF
SET IDENTITY_INSERT [dbo].[Logins] ON 

INSERT [dbo].[Logins] ([id], [mail], [password], [idUser]) VALUES (1, N'mylis@outlook.com', N'69-4E-4F-E7-9F-7A-A5-5B-E6-EF-47-B6-E2-F1-2F-12', 1)
INSERT [dbo].[Logins] ([id], [mail], [password], [idUser]) VALUES (2, N'malherbe.billy@gmail.com', N'w', 2)
INSERT [dbo].[Logins] ([id], [mail], [password], [idUser]) VALUES (1002, N'ricartho@gmail.com', N'rafa', 1003)
SET IDENTITY_INSERT [dbo].[Logins] OFF
SET IDENTITY_INSERT [dbo].[Palettes] ON 

INSERT [dbo].[Palettes] ([id], [qte], [depot]) VALUES (1, 12, N'Mitchel')
SET IDENTITY_INSERT [dbo].[Palettes] OFF
SET IDENTITY_INSERT [dbo].[Produits] ON 

INSERT [dbo].[Produits] ([id], [nom], [id_emballage], [id_categorie], [id_utilisateur], [date_prod], [type_fabrication], [type_bout]) VALUES (1, N'PRESTIGE-RGB-341-REG', 26, 1, 1003, CAST(0xC73A0B00 AS Date), NULL, NULL)
INSERT [dbo].[Produits] ([id], [nom], [id_emballage], [id_categorie], [id_utilisateur], [date_prod], [type_fabrication], [type_bout]) VALUES (2, N'PRESTIGE SIX PACK RGB-341-REG', 26, 1, 1003, CAST(0xDA3A0B00 AS Date), NULL, NULL)
INSERT [dbo].[Produits] ([id], [nom], [id_emballage], [id_categorie], [id_utilisateur], [date_prod], [type_fabrication], [type_bout]) VALUES (3, N'KINANM RGB-341-REG', 26, 2, 1003, CAST(0xE23A0B00 AS Date), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Produits] OFF
SET IDENTITY_INSERT [dbo].[Transfert_dep] ON 

INSERT [dbo].[Transfert_dep] ([id], [id_depot_source], [id_depot_dest], [quantite_palette], [id_chauffeur], [id_vehicule], [id_superviseur], [id_data_clock], [date_transfert], [process], [num_transfert], [id_superviseur_recu]) VALUES (1, 2, 1, 26, 1, 1, 1, 1003, CAST(0x0000A59300083D60 AS DateTime), 0, N'0', 0)
SET IDENTITY_INSERT [dbo].[Transfert_dep] OFF
SET IDENTITY_INSERT [dbo].[Transfert_Produit] ON 

INSERT [dbo].[Transfert_Produit] ([Id], [id_transfert], [qtite_caisse], [qtite_bout], [id_produit]) VALUES (1, 1, 4, 4, 1)
INSERT [dbo].[Transfert_Produit] ([Id], [id_transfert], [qtite_caisse], [qtite_bout], [id_produit]) VALUES (2, 1, 20, 6, 1)
INSERT [dbo].[Transfert_Produit] ([Id], [id_transfert], [qtite_caisse], [qtite_bout], [id_produit]) VALUES (9, 1, 34, 23, 3)
SET IDENTITY_INSERT [dbo].[Transfert_Produit] OFF
SET IDENTITY_INSERT [dbo].[Unloading] ON 

INSERT [dbo].[Unloading] ([Id], [id_loading], [qtite_palette_retr], [time_unloading_debut], [time_unloading_fin], [remarque], [qtite_casse]) VALUES (33, 1057, 3, CAST(0x0000A59300C5C100 AS DateTime), CAST(0x0000A59300C88020 AS DateTime), NULL, 0)
SET IDENTITY_INSERT [dbo].[Unloading] OFF
SET IDENTITY_INSERT [dbo].[Utilisateurs] ON 

INSERT [dbo].[Utilisateurs] ([id], [nom], [prenom], [mail], [phone], [adresse], [fonction], [shift], [depot]) VALUES (1, N'Mylis', N'Mitchel', N'mylis@outlook.com', N'37759691', N'Cayes', N'ADMIN', N'Soir', N'Depot2')
INSERT [dbo].[Utilisateurs] ([id], [nom], [prenom], [mail], [phone], [adresse], [fonction], [shift], [depot]) VALUES (2, N'Malherbe', N'Billy', N'malherbe.billy@gmail.com', N'47519725', N'nazon', N'super_FG', N'Matin', N'Depot1')
INSERT [dbo].[Utilisateurs] ([id], [nom], [prenom], [mail], [phone], [adresse], [fonction], [shift], [depot]) VALUES (1002, N'Jean Sauvenel', N'Beaudry', N'sauvenel2013@gmail.com', N'38195414', N'Canape vert ', N'super_FG', N'Median', N'Depot1')
SET IDENTITY_INSERT [dbo].[Utilisateurs] OFF
SET IDENTITY_INSERT [dbo].[Vehicules] ON 

INSERT [dbo].[Vehicules] ([id], [plaque], [model], [marque], [annee], [capacite], [numero]) VALUES (1, N'AA-98983', N'mack', N'jack', 1998, 20, N'B-098')
SET IDENTITY_INSERT [dbo].[Vehicules] OFF
ALTER TABLE [dbo].[Bouteilles] ADD  CONSTRAINT [DF_Bouteilles_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[BouteilleSansCaisses] ADD  CONSTRAINT [DF_BouteilleSansCaisses_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[Caisses] ADD  CONSTRAINT [DF_Caisses_capacite]  DEFAULT ((0)) FOR [capacite]
GO
ALTER TABLE [dbo].[Caisses] ADD  CONSTRAINT [DF_Caisses_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[CaisseVides] ADD  CONSTRAINT [DF_CaisseVides_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[CaisseVides] ADD  CONSTRAINT [DF_CaisseVides_capacite]  DEFAULT ((0)) FOR [capacite]
GO
ALTER TABLE [dbo].[Casse] ADD  DEFAULT ((0)) FOR [qtite_casse]
GO
ALTER TABLE [dbo].[Casse] ADD  DEFAULT ((0)) FOR [qtite_bout]
GO
ALTER TABLE [dbo].[Casse] ADD  DEFAULT ((0)) FOR [qtite_shortfill]
GO
ALTER TABLE [dbo].[Casse] ADD  DEFAULT ((0)) FOR [qtite_perte]
GO
ALTER TABLE [dbo].[Casse] ADD  DEFAULT ((0)) FOR [qtite_prod_man]
GO
ALTER TABLE [dbo].[Casses] ADD  CONSTRAINT [DF_Casses_qteBout]  DEFAULT ((0)) FOR [qteBout]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_stubby]  DEFAULT ((0)) FOR [stubby]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_rstub]  DEFAULT ((0)) FOR [rstub]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_gold]  DEFAULT ((0)) FOR [gold]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_rgold]  DEFAULT ((0)) FOR [rgold]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_big]  DEFAULT ((0)) FOR [big]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_rbig]  DEFAULT ((0)) FOR [rbig]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_kingcola]  DEFAULT ((0)) FOR [kingcola]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_rcola]  DEFAULT ((0)) FOR [rcola]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_sevenup]  DEFAULT ((0)) FOR [sevenup]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_r7up]  DEFAULT ((0)) FOR [r7up]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_pepsi]  DEFAULT ((0)) FOR [pepsi]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_rpepsi]  DEFAULT ((0)) FOR [rpepsi]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_redCratesHD]  DEFAULT ((0)) FOR [redCratesHD]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_redCratesFD]  DEFAULT ((0)) FOR [redCratesFD]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_yellowCratesFD]  DEFAULT ((0)) FOR [yellowCratesFD]
GO
ALTER TABLE [dbo].[DebarquementAutres] ADD  CONSTRAINT [DF_DebarquementAutres_qtePalette]  DEFAULT ((0)) FOR [qtePalette]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_prestige]  DEFAULT ((0)) FOR [prestige]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_guinness]  DEFAULT ((0)) FOR [guinness]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_malta]  DEFAULT ((0)) FOR [malta]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_kinanm341ml]  DEFAULT ((0)) FOR [kinanm341ml]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_big]  DEFAULT ((0)) FOR [big]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_kinanm500ml]  DEFAULT ((0)) FOR [kinanm500ml]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_king]  DEFAULT ((0)) FOR [king]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_sevenup]  DEFAULT ((0)) FOR [sevenup]
GO
ALTER TABLE [dbo].[DebarquementPleins] ADD  CONSTRAINT [DF_DebarquementPleins_pepsi]  DEFAULT ((0)) FOR [pepsi]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_stubby]  DEFAULT ((0)) FOR [stubby]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_rstub]  DEFAULT ((0)) FOR [rstub]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_gold]  DEFAULT ((0)) FOR [gold]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_rgold]  DEFAULT ((0)) FOR [rgold]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_big]  DEFAULT ((0)) FOR [big]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_rbig]  DEFAULT ((0)) FOR [rbig]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_kingcola]  DEFAULT ((0)) FOR [kingcola]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_rcola]  DEFAULT ((0)) FOR [rcola]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_sevenup]  DEFAULT ((0)) FOR [sevenup]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_r7up]  DEFAULT ((0)) FOR [r7up]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_pepsi]  DEFAULT ((0)) FOR [pepsi]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_rpepsi]  DEFAULT ((0)) FOR [rpepsi]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_redCratesHD]  DEFAULT ((0)) FOR [redCratesHD]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_redCratesFD]  DEFAULT ((0)) FOR [redCratesFD]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_yellowCratesFD]  DEFAULT ((0)) FOR [yellowCratesFD]
GO
ALTER TABLE [dbo].[Debarquements] ADD  CONSTRAINT [DF_Debarquements_qtePalette]  DEFAULT ((0)) FOR [qtePalette]
GO
ALTER TABLE [dbo].[Debut_inventaire] ADD  DEFAULT ((0)) FOR [qtite_bouteille]
GO
ALTER TABLE [dbo].[Debut_inventaire] ADD  DEFAULT ((0)) FOR [qtite_trouvee]
GO
ALTER TABLE [dbo].[Debut_inventaire] ADD  DEFAULT ((0)) FOR [caisse_theor]
GO
ALTER TABLE [dbo].[Debut_inventaire] ADD  DEFAULT ((0)) FOR [bout_theor]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_prestige]  DEFAULT ((0)) FOR [prestige]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_guinness]  DEFAULT ((0)) FOR [guinness]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_malta]  DEFAULT ((0)) FOR [malta]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_kinanm341ml]  DEFAULT ((0)) FOR [kinanm341ml]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_big]  DEFAULT ((0)) FOR [big]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_kinanm500ml]  DEFAULT ((0)) FOR [kinanm500ml]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_king]  DEFAULT ((0)) FOR [king]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_sevenup]  DEFAULT ((0)) FOR [sevenup]
GO
ALTER TABLE [dbo].[DepotEmballages] ADD  CONSTRAINT [DF_DepotEmballages_pepsi]  DEFAULT ((0)) FOR [pepsi]
GO
ALTER TABLE [dbo].[EntreeProductions] ADD  CONSTRAINT [DF_EntreeProductions_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[EntreeProductions] ADD  CONSTRAINT [DF_EntreeProductions_qteCaisses]  DEFAULT ((0)) FOR [qteCaisses]
GO
ALTER TABLE [dbo].[InjectionsBout] ADD  CONSTRAINT [DF_InjectionsBout_qteBout]  DEFAULT ((0)) FOR [qteBout]
GO
ALTER TABLE [dbo].[InjectionsCaisse] ADD  CONSTRAINT [DF_InjectionsCaisse_qteCaisse]  DEFAULT ((0)) FOR [qteCaisse]
GO
ALTER TABLE [dbo].[InjectionsCaisse] ADD  CONSTRAINT [DF_InjectionsCaisse_qtePalette]  DEFAULT ((0)) FOR [qtePalette]
GO
ALTER TABLE [dbo].[InjectionsCaisse] ADD  CONSTRAINT [DF_InjectionsCaisse_capacite]  DEFAULT ((0)) FOR [capacite]
GO
ALTER TABLE [dbo].[Ligne_depot] ADD  DEFAULT ((0)) FOR [id_data_clock]
GO
ALTER TABLE [dbo].[Loading] ADD  DEFAULT ((0)) FOR [retour]
GO
ALTER TABLE [dbo].[Loading] ADD  DEFAULT ((0)) FOR [id_superviseur]
GO
ALTER TABLE [dbo].[Loading] ADD  DEFAULT ((0)) FOR [id_data_clock]
GO
ALTER TABLE [dbo].[MiseEnCaisses] ADD  CONSTRAINT [DF_MiseEnCaisses_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[Palettes] ADD  CONSTRAINT [DF_Palettes_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[Produit_Bloque] ADD  DEFAULT ((0)) FOR [etat]
GO
ALTER TABLE [dbo].[RecyclagesBout] ADD  CONSTRAINT [DF_RecyclagesBout_qteBout]  DEFAULT ((0)) FOR [qteBout]
GO
ALTER TABLE [dbo].[RecyclagesCaisse] ADD  CONSTRAINT [DF_RecyclagesCaisse_qteCaisse]  DEFAULT ((0)) FOR [qteCaisse]
GO
ALTER TABLE [dbo].[RecyclagesCaisse] ADD  CONSTRAINT [DF_RecyclagesCaisse_qtePalette]  DEFAULT ((0)) FOR [qtePalette]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [stockDebutSystem]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [StockDebutreel]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [Reception]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [Transfert]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [EntreeProduction]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [RetourProduction]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [RetourVente]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [Recyclage]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [Casse]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [sortiePalette]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [retourPalette]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [StockFinSystem]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [StockFinreel]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [difference]
GO
ALTER TABLE [dbo].[Reports] ADD  DEFAULT ((0)) FOR [Perte]
GO
ALTER TABLE [dbo].[RetourProductions] ADD  CONSTRAINT [DF_RetourProductions_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[RetourProductions] ADD  CONSTRAINT [DF_RetourProductions_qteCaisses]  DEFAULT ((0)) FOR [qteCaisses]
GO
ALTER TABLE [dbo].[StockDebuEmptyCrates] ADD  CONSTRAINT [DF_StockDebuEmptyCrates_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[StockDebutPalettes] ADD  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[StockDebutreels] ADD  CONSTRAINT [DF_StockDebutreels_InCrates]  DEFAULT ((0)) FOR [InCrates]
GO
ALTER TABLE [dbo].[StockDebutreels] ADD  CONSTRAINT [DF_StockDebutreels_NotInCrates]  DEFAULT ((0)) FOR [NotInCrates]
GO
ALTER TABLE [dbo].[StockDebutreels] ADD  CONSTRAINT [DF_StockDebutreels_resteInCrates]  DEFAULT ((0)) FOR [resteInCrates]
GO
ALTER TABLE [dbo].[StockDebutreels] ADD  CONSTRAINT [DF_StockDebutreels_ResteNotInCrates]  DEFAULT ((0)) FOR [ResteNotInCrates]
GO
ALTER TABLE [dbo].[StockFinEmptyCrates] ADD  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[StockFinPalettes] ADD  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[StockFinreels] ADD  DEFAULT ((0)) FOR [InCrates]
GO
ALTER TABLE [dbo].[StockFinreels] ADD  DEFAULT ((0)) FOR [NotInCrates]
GO
ALTER TABLE [dbo].[StockFinreels] ADD  DEFAULT ((0)) FOR [resteInCrates]
GO
ALTER TABLE [dbo].[StockFinreels] ADD  DEFAULT ((0)) FOR [ResteNotInCrates]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_InCrates]  DEFAULT ((0)) FOR [InCrates]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_NotIncrates]  DEFAULT ((0)) FOR [NotIncrates]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_resteInCrates]  DEFAULT ((0)) FOR [resteInCrates]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_ResteNotInCrates]  DEFAULT ((0)) FOR [ResteNotInCrates]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_qteCaisseEmpty]  DEFAULT ((0)) FOR [qteCaisseEmpty]
GO
ALTER TABLE [dbo].[Tampons] ADD  CONSTRAINT [DF_Tampons_qtePalette]  DEFAULT ((0)) FOR [qtePalette]
GO
ALTER TABLE [dbo].[TamponsEmptyCrates] ADD  CONSTRAINT [DF_TamponsEmptyCrates_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[TamponsEmptyCrates] ADD  CONSTRAINT [DF_TamponsEmptyCrates_capacite]  DEFAULT ((0)) FOR [capacite]
GO
ALTER TABLE [dbo].[TamponsPals] ADD  CONSTRAINT [DF_TamponsPals_qte]  DEFAULT ((0)) FOR [qte]
GO
ALTER TABLE [dbo].[Transfers] ADD  DEFAULT ((0)) FOR [qteBout]
GO
ALTER TABLE [dbo].[Transfers] ADD  DEFAULT ((0)) FOR [qteCaisse]
GO
ALTER TABLE [dbo].[Transfers] ADD  DEFAULT ((0)) FOR [palette]
GO
ALTER TABLE [dbo].[Transfert_dep] ADD  DEFAULT ((0)) FOR [num_transfert]
GO
ALTER TABLE [dbo].[Transfert_dep] ADD  DEFAULT ((0)) FOR [id_superviseur_recu]
GO
ALTER TABLE [dbo].[Transits] ADD  DEFAULT ((0)) FOR [qteBout]
GO
ALTER TABLE [dbo].[Transits] ADD  DEFAULT ((0)) FOR [qteCaisse]
GO
ALTER TABLE [dbo].[Transits] ADD  DEFAULT ((0)) FOR [palette]
GO
ALTER TABLE [dbo].[Unloading] ADD  DEFAULT ((0)) FOR [qtite_casse]
GO
ALTER TABLE [dbo].[Casse]  WITH CHECK ADD  CONSTRAINT [FK_Casse_depot] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Casse] CHECK CONSTRAINT [FK_Casse_depot]
GO
ALTER TABLE [dbo].[Casse]  WITH CHECK ADD  CONSTRAINT [FK_Casse_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Casse] CHECK CONSTRAINT [FK_Casse_produit]
GO
ALTER TABLE [dbo].[Casse]  WITH CHECK ADD  CONSTRAINT [FK_Casse_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Casse] CHECK CONSTRAINT [FK_Casse_superviseur]
GO
ALTER TABLE [dbo].[DebarquementAutres]  WITH CHECK ADD  CONSTRAINT [FK_Autres_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[DebarquementAutres] CHECK CONSTRAINT [FK_Autres_User]
GO
ALTER TABLE [dbo].[DebarquementPleins]  WITH CHECK ADD  CONSTRAINT [FK_PL_user] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[DebarquementPleins] CHECK CONSTRAINT [FK_PL_user]
GO
ALTER TABLE [dbo].[Debarquements]  WITH CHECK ADD  CONSTRAINT [FK_DEB_USER] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Debarquements] CHECK CONSTRAINT [FK_DEB_USER]
GO
ALTER TABLE [dbo].[Debarquements]  WITH CHECK ADD  CONSTRAINT [FK_deb_veh] FOREIGN KEY([idVehicule])
REFERENCES [dbo].[Vehicules] ([id])
GO
ALTER TABLE [dbo].[Debarquements] CHECK CONSTRAINT [FK_deb_veh]
GO
ALTER TABLE [dbo].[Debut_inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Debut_inventaire_depot] FOREIGN KEY([id_depot_fg])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Debut_inventaire] CHECK CONSTRAINT [FK_Debut_inventaire_depot]
GO
ALTER TABLE [dbo].[Debut_inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Debut_inventaire_Produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Debut_inventaire] CHECK CONSTRAINT [FK_Debut_inventaire_Produit]
GO
ALTER TABLE [dbo].[Debut_inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Debut_inventaire_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Debut_inventaire] CHECK CONSTRAINT [FK_Debut_inventaire_superviseur]
GO
ALTER TABLE [dbo].[Depot_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Depot_produit_depot] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Depot_Produit] CHECK CONSTRAINT [FK_Depot_produit_depot]
GO
ALTER TABLE [dbo].[Depot_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Depot_produit_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Depot_Produit] CHECK CONSTRAINT [FK_Depot_produit_produit]
GO
ALTER TABLE [dbo].[DepotEmballages]  WITH CHECK ADD  CONSTRAINT [FK_Dep_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[DepotEmballages] CHECK CONSTRAINT [FK_Dep_User]
GO
ALTER TABLE [dbo].[Emballage]  WITH CHECK ADD  CONSTRAINT [FK_Emballage_Utilisateur] FOREIGN KEY([id_utilisateur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Emballage] CHECK CONSTRAINT [FK_Emballage_Utilisateur]
GO
ALTER TABLE [dbo].[Fin_Inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Fin_inventaire_depot] FOREIGN KEY([id_depot_fg])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Fin_Inventaire] CHECK CONSTRAINT [FK_Fin_inventaire_depot]
GO
ALTER TABLE [dbo].[Fin_Inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Fin_inventaire_Produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Fin_Inventaire] CHECK CONSTRAINT [FK_Fin_inventaire_Produit]
GO
ALTER TABLE [dbo].[Fin_Inventaire]  WITH CHECK ADD  CONSTRAINT [FK_Fin_inventaire_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Fin_Inventaire] CHECK CONSTRAINT [FK_Fin_inventaire_superviseur]
GO
ALTER TABLE [dbo].[laboratoire_echantillon]  WITH CHECK ADD  CONSTRAINT [FK_Laboratoire_echantillon_depot] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[laboratoire_echantillon] CHECK CONSTRAINT [FK_Laboratoire_echantillon_depot]
GO
ALTER TABLE [dbo].[laboratoire_echantillon]  WITH CHECK ADD  CONSTRAINT [FK_Laboratoire_echantillon_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[laboratoire_echantillon] CHECK CONSTRAINT [FK_Laboratoire_echantillon_produit]
GO
ALTER TABLE [dbo].[laboratoire_echantillon]  WITH CHECK ADD  CONSTRAINT [FK_Laboratoire_echantillon_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[laboratoire_echantillon] CHECK CONSTRAINT [FK_Laboratoire_echantillon_superviseur]
GO
ALTER TABLE [dbo].[Ligne_depot]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_depot_data_clock] FOREIGN KEY([id_data_clock])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Ligne_depot] CHECK CONSTRAINT [FK_Ligne_depot_data_clock]
GO
ALTER TABLE [dbo].[Ligne_depot]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_depot_depot] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Ligne_depot] CHECK CONSTRAINT [FK_Ligne_depot_depot]
GO
ALTER TABLE [dbo].[Ligne_depot]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_depot_id_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Ligne_depot] CHECK CONSTRAINT [FK_Ligne_depot_id_produit]
GO
ALTER TABLE [dbo].[Ligne_depot]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_depot_ligne_production] FOREIGN KEY([id_ligne_production])
REFERENCES [dbo].[Ligne_production] ([id])
GO
ALTER TABLE [dbo].[Ligne_depot] CHECK CONSTRAINT [FK_Ligne_depot_ligne_production]
GO
ALTER TABLE [dbo].[Ligne_depot]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_depot_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Ligne_depot] CHECK CONSTRAINT [FK_Ligne_depot_superviseur]
GO
ALTER TABLE [dbo].[Ligne_production]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_production_utilisateur] FOREIGN KEY([id_utilisateur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Ligne_production] CHECK CONSTRAINT [FK_Ligne_production_utilisateur]
GO
ALTER TABLE [dbo].[Ligne_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_produit_ligne_production] FOREIGN KEY([id_ligne_production])
REFERENCES [dbo].[Ligne_production] ([id])
GO
ALTER TABLE [dbo].[Ligne_Produit] CHECK CONSTRAINT [FK_Ligne_produit_ligne_production]
GO
ALTER TABLE [dbo].[Ligne_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Ligne_produit_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Ligne_Produit] CHECK CONSTRAINT [FK_Ligne_produit_produit]
GO
ALTER TABLE [dbo].[Loading]  WITH CHECK ADD  CONSTRAINT [FK_Loading_Chauffeurs] FOREIGN KEY([id_chauffeur])
REFERENCES [dbo].[Chauffeurs] ([id])
GO
ALTER TABLE [dbo].[Loading] CHECK CONSTRAINT [FK_Loading_Chauffeurs]
GO
ALTER TABLE [dbo].[Loading]  WITH CHECK ADD  CONSTRAINT [FK_Loading_dataclock] FOREIGN KEY([id_data_clock])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Loading] CHECK CONSTRAINT [FK_Loading_dataclock]
GO
ALTER TABLE [dbo].[Loading]  WITH CHECK ADD  CONSTRAINT [FK_Loading_depot] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Loading] CHECK CONSTRAINT [FK_Loading_depot]
GO
ALTER TABLE [dbo].[Loading]  WITH CHECK ADD  CONSTRAINT [FK_Loading_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Loading] CHECK CONSTRAINT [FK_Loading_superviseur]
GO
ALTER TABLE [dbo].[Loading]  WITH CHECK ADD  CONSTRAINT [FK_Loading_vehicule] FOREIGN KEY([id_vehicule])
REFERENCES [dbo].[Vehicules] ([id])
GO
ALTER TABLE [dbo].[Loading] CHECK CONSTRAINT [FK_Loading_vehicule]
GO
ALTER TABLE [dbo].[Loading_prodiut]  WITH CHECK ADD  CONSTRAINT [FK_Loading_produit_loading] FOREIGN KEY([id_loading])
REFERENCES [dbo].[Loading] ([id])
GO
ALTER TABLE [dbo].[Loading_prodiut] CHECK CONSTRAINT [FK_Loading_produit_loading]
GO
ALTER TABLE [dbo].[Loading_prodiut]  WITH CHECK ADD  CONSTRAINT [FK_Loading_produit_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Loading_prodiut] CHECK CONSTRAINT [FK_Loading_produit_produit]
GO
ALTER TABLE [dbo].[Loading_produit]  WITH CHECK ADD  CONSTRAINT [FK_Loading_prod_produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Loading_produit] CHECK CONSTRAINT [FK_Loading_prod_produit]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Log_user] FOREIGN KEY([idUser])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Log_user]
GO
ALTER TABLE [dbo].[Produit_Bloque]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Bloque_ToTable] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Produit_Bloque] CHECK CONSTRAINT [FK_Produit_Bloque_ToTable]
GO
ALTER TABLE [dbo].[Produit_Bloque]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Bloque_ToTable_1] FOREIGN KEY([id_depot])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Produit_Bloque] CHECK CONSTRAINT [FK_Produit_Bloque_ToTable_1]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Categorie] FOREIGN KEY([id_categorie])
REFERENCES [dbo].[Categorie] ([id])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [FK_Produit_Categorie]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Emballage] FOREIGN KEY([id_emballage])
REFERENCES [dbo].[Emballage] ([id])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [FK_Produit_Emballage]
GO
ALTER TABLE [dbo].[Produits]  WITH CHECK ADD  CONSTRAINT [FK_Produit_Utilisateur] FOREIGN KEY([id_utilisateur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Produits] CHECK CONSTRAINT [FK_Produit_Utilisateur]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_chauffeur] FOREIGN KEY([id_chauffeur])
REFERENCES [dbo].[Chauffeurs] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_chauffeur]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_dataclock] FOREIGN KEY([id_data_clock])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_dataclock]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_depot_destination] FOREIGN KEY([id_depot_dest])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_depot_destination]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_depot_source] FOREIGN KEY([id_depot_source])
REFERENCES [dbo].[Depots] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_depot_source]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_superviseur] FOREIGN KEY([id_superviseur])
REFERENCES [dbo].[Utilisateurs] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_superviseur]
GO
ALTER TABLE [dbo].[Transfert_dep]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_vehicule] FOREIGN KEY([id_vehicule])
REFERENCES [dbo].[Vehicules] ([id])
GO
ALTER TABLE [dbo].[Transfert_dep] CHECK CONSTRAINT [FK_Transfert_vehicule]
GO
ALTER TABLE [dbo].[Transfert_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_Produit_Produit] FOREIGN KEY([id_produit])
REFERENCES [dbo].[Produits] ([id])
GO
ALTER TABLE [dbo].[Transfert_Produit] CHECK CONSTRAINT [FK_Transfert_Produit_Produit]
GO
ALTER TABLE [dbo].[Transfert_Produit]  WITH CHECK ADD  CONSTRAINT [FK_Transfert_Produit_transfert] FOREIGN KEY([id_transfert])
REFERENCES [dbo].[Transfert_dep] ([id])
GO
ALTER TABLE [dbo].[Transfert_Produit] CHECK CONSTRAINT [FK_Transfert_Produit_transfert]
GO
ALTER TABLE [dbo].[Unloading]  WITH CHECK ADD  CONSTRAINT [FK_Unloading_produit_loading] FOREIGN KEY([id_loading])
REFERENCES [dbo].[Loading] ([id])
GO
ALTER TABLE [dbo].[Unloading] CHECK CONSTRAINT [FK_Unloading_produit_loading]
GO
USE [master]
GO
