
@{
    ViewBag.Title = "NumEmb";
}

<h2>Numero Embarquement</h2>
<script type="text/javascript">
    $(document).ready(function () {
      
        $("#myModal").modal({ backdrop: "static", show: true, keyboard: false });
		
	});
</script>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
            </div>
            <div class="modal-body">
                <form action="Create" method="GET">
                    <div class="form-group">
                        <input type="text" name="num_emb" id="num_emb" class="form-control" placeholder="Numero embarquement">
                    </div>

                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
