
@{
    ViewBag.Title = "NumTransfert";
}

<h2>Numero Transfert</h2>
<script type="text/javascript">
    $(document).ready(function () {

        $("#myModal").modal({ backdrop: "static", show: true, keyboard: false });
	});
</script>
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
               
            </div>
            <div class="modal-body">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()

                    if (@ViewBag.transf_alerte != null)
                    {
                        <div class="alert alert-danger">
                            @ViewBag.transf_alerte
                        </div>
                    }
                }
                <form action="Reception" method="GET">
                    <div class="form-group">
                        <input type="text" name="num_transfert" id="num_transfert" class="form-control" placeholder="Numero Transfert">
                    </div>

                    <button type="submit" class="btn btn-primary">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>


